<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<body>
    <div class="container">
        
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                    <td>
                        <form action="/members/deleteMember" method="post">
                            <input name="id" type="hidden" th:value="${member.id}"/>
                            <button type="submit">삭제</button></td>
                        </form>
                    </form>
                        
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

