<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<body>
    <div class="container">
        <table>
            <caption>검색 결과</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.name}"></td>
                </tr>
            </tbody>
        </table>
        <p th:if="${member}">일치하는 멤버를 찾았습니다.</p>
        <p th:unless="${member}">일치하는 멤버가 없습니다.</p> 
    </div>
</body>
</html>

